<section data-bs-version="5.1" class="features8 cid-sFADMOwrhN" xmlns="http://www.w3.org/1999/html" id="features9-4">
        <div class="container" id="home">
            <div class="card">
                <div class="card-wrapper">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4">
                            <div class="image-wrapper">
                                <img src="/assets/images/rasm1.png" class="w-100" alt="Mobirise Website Builder">
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-md">
                                        <h6 class="card-title display-6 mbr-fonts-style">
                                            <strong>
                                                {{#ifEquals lang 'ru'}}
                                                    Акриловый камень
                                                {{else}}
                                                    Akril tosh
                                                {{/ifEquals}}
                                            </strong>
                                        </h6>
                                        <p class="mbr-text mbr-fonts-style">
                                            {{#ifEquals lang 'ru'}}
                                                Акриловый камень имеет следующие достоинства: высокая прочность – достигается благодаря минералам, поэтому акрил выдерживает даже удары;
                                            {{else}}
                                                Akril tosh quyidagi afzalliklarga ega: yuqori quvvat - minerallar tufayli erishiladi, shuning uchun akril hatto zarbalarga ham bardosh bera oladi;
                                            {{/ifEquals}}
                                        </p>
                                    </div>
                                    <div class="col-md-auto">
                                        <div class="mbr-section-btn">
                                            <a href="#buyurtma" data-id="ZXS09119" class="btn-orders btn btn-secondary display-4">
                                                {{#ifEquals lang 'ru'}}
                                                    Заказать сейчас
                                                {{else}}
                                                    Hoziroq buyurtma bering
                                                {{/ifEquals}}
                                            </a>
                                        </div>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-wrapper">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4">
                            <div class="image-wrapper">
                                <img src="/assets/images/rasm2.png" alt="Mobirise Website Builder">
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-md">
                                        <h6 class="card-title display-6 mbr-fonts-style">
                                            <strong>
                                                {{#ifEquals lang 'ru'}}
                                                    Дроблёный кварц
                                                {{else}}
                                                    Maydalangan kvarts
                                                {{/ifEquals}}
                                            </strong>
                                        </h6>
                                        <p class="mbr-text mbr-fonts-style">
                                            {{#ifEquals lang 'ru'}}
                                                Дробленый кварц и окатанный кварцевый песок используются по единому принципу. Из них изготавливают отделочные и строительные материалы и других работах.
                                            {{else}}
                                                Xuddi shu printsipga ko'ra, ezilgan kvarts va yumaloq kvarts qumi ishlatiladi. Ular pardozlash va qurilish materiallari va boshqa ishlarni bajarish uchun ishlatiladi.
                                            {{/ifEquals}}
                                        </p>
                                    </div>
                                    <div class="col-md-auto">
                                        <div class="mbr-section-btn">
                                            <a href="#buyurtma" data-id="ZXS201118" class="btn-orders btn btn-secondary display-4">
                                                {{#ifEquals lang 'ru'}}
                                                    Заказать сейчас
                                                {{else}}
                                                    Hoziroq buyurtma bering
                                                {{/ifEquals}}
                                            </a>
                                        </div>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-wrapper">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4">
                            <div class="image-wrapper">
                                <img src="/assets/images/rasm3.png" alt="Mobirise Website Builder">
                            </div>
                        </div>
                        <div class="col-12 col-md">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-md">
                                        <h6 class="card-title display-6 mbr-fonts-style">
                                            <strong>

                                                {{#ifEquals lang 'ru'}}
                                                    Агломерат
                                                {{else}}
                                                    Aglomerat
                                                {{/ifEquals}} 
                                            </strong>
                                        </h6>
                                        <p class="mbr-text mbr-fonts-style">
                                            {{#ifEquals lang 'ru'}}
                                                Агломерат - материал, состоящий из смеси натуральных пород камней или минералов, красящих пигментов и связующего элемента.
                                            {{else}}
                                                Aglomerat - tabiiy jinslar yoki minerallar aralashmasidan, rang beruvchi pigmentlardan va bog'lovchidan iborat material.
                                            {{/ifEquals}}
                                        </p>
                                    </div>
                                    <div class="col-md-auto">
                                        <div class="mbr-section-btn">
                                            <a href="#buyurtma" data-id="ZXS201117" class="btn-orders btn btn-secondary display-4">
                                                {{#ifEquals lang 'ru'}}
                                                    Заказать сейчас
                                                {{else}}
                                                    Hoziroq buyurtma bering
                                                {{/ifEquals}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>